@font-face {
    font-family: 'San Francisco';
    src: url('Font/otf/SFNSDisplay-Regular.otf');
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: url('Images/to-do-list.jpeg');
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'San Francisco';
  height: 100vh;
}

.container{
  position: relative;
  min-height: 400px;
  width: 768px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 32, 63, .45),
    0 8px 8px rgba(0, 32, 63, .45);
}

.form-container{
  position: absolute;
  top: 0;
  height: 100%;
  transition: .6s ease-in-out;
}

.login-container{
  background: rgba(0, 162, 255, 0.945);
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up-container{
  background: rgba(255, 192, 239, 0.945);
  right: 0;
  width: 50%;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input{
  background-color: #adf0d1;
  border: none;
  padding: 17px 15px;
  margin: 8px 0;
  width: 100%;
}

button{
  background-color: #adf0d1;
  color: #00203f;
  border: 1px solid #adf0d1;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 32px;
  margin-top: 24px;
  letter-spacing: 1px;
  border-radius: 50px;
  border-color: rgba(0, 32, 63, .45);
  transition: .2s ease-in;
}

button:hover{
  cursor: pointer;
  background-color: #00203f;
  color: #adf0d1;
}

button:active{
  transform: 24px 0;
}

h2{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

span {
  font-size: 14px;
}

a{
  text-decoration: none;
  font-size: 14px;
  margin: 8px 0 16px;
  color: #333;
}

.connexion-login-input{
  background-color: #bbf0d7;
  padding: 12px 15px;
  border: none;
}

.connexion-password-input{
  background-color: #bbf0d7;
  padding: 12px 15px;
  border: none;
}

.registration-username-input{
  background-color: #bbf0d7;
  padding: 12px 15px;
  border: none;
}

.registration-password-input{
  background-color: #bbf0d7;
  padding: 12px 15px;
  border: none;
}


.registration-confirmed-password-input{
  background-color: #bbf0d7;
  padding: 12px 15px;
  border: none;
}

.connexion-submit-field{
  background-color: #bbf0d7;
  color: #00203f;
  border: 1px solid #bbf0d7;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 32px;
  margin-top: 24px;
  letter-spacing: 1px;
  border-radius: 50px;
  cursor: pointer;
}

.registration-submit-field{
  background-color: #bbf0d7;
  color: #00203f;
  border: 1px solid #bbf0d7;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 32px;
  margin-top: 24px;
  letter-spacing: 1px;
  border-radius: 50px;
  cursor: pointer;
}

.login-error-message {
  margin-top: 50px;
  color: red;
  text-align: center;
}

.registration-error-message {
  margin-top: 50px;
  color: red;
  text-align: center;
}

p{
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: .5px;
  margin: 20px 0 30px;
}

.success{
  color: green;
  font-weight: bold;
}